PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
DATABASE_URL=
SUPABASE_DB_PASSWORD=

# Umami Analytics Config
UMAMI_URL=
UMAMI_WEBSITE_ID=
UMAMI_SHARE_URL=

# Neon DB Config (Umami Database)
NEON_DATABASE_URL=
NEON_HOST=
NEON_DATABASE=
NEON_ROLE=
NEON_PASSWORD=
NEON_POOLER_HOST=
